<table>
  <thead>
    <tr>
      <th>Today - <%= @date.strftime("%B %d") %></th>
    </tr>
    <tr>
      <th>Title</th>
      <th>start</th>
      <th>end</th>
    </tr>
  </thead>

  <tbody>
    <% if @dayly_by_date[@date] %>
      <% @dayly_by_date[@date].each do |event| %>
      <tr>
          <td><%= event.title %></td>
          <td><%= event.start_at.strftime("%H : %M") %></td>
          <td><%= event.end_at.strftime("%H : %M") %></td>
      </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
