<div class="medium-6 medium-centered columns">
  <h1>Editing University Event</h1>
</div>
<%= render 'form' %>

<%= link_to 'Show', @university_event %> |
<%= link_to 'Back', timetable_university_events_path(@timetable) %>
