<section id="form" class="small-7 small-centered columns">
    <h1>Editing Course Module</h1>
</section>



<%= render 'form' %>

<%= link_to 'Show', @course_module %> |
<%= link_to 'Back', course_modules_path %>
