<section id="form" class="small-7 small-centered columns">
  <div class="medium-8 medium-centered columns">
    <%= image_tag("new-timetable.png", :alt => "new-timetable") %>
  </div>
</section>

<%= render 'form' %>

<%= link_to 'Back', timetables_path %>
