<section id="form" class="small-7 small-centered columns">
  <div class="medium-8 medium-centered columns">
    <%= image_tag("edit-department.png", :alt => "new-department") %>
  </div>
</section>

<%= render 'form' %>

<%= link_to 'Show', @department %> |
<%= link_to 'Back', departments_path %>
