<div class="row">
  <div class="medium-5 medium-centered columns">
    <%= image_tag("edit-event.png", :alt => "edit-event") %>
  </div>
</div>

<%= render 'form' %>


<div class="row">
  <div class="medium-11 medium-centered columns">
    <%= link_to 'Show', @user_event %>
  </div>
</div>
