<section class="large-12 large-centered columns"> 
	<% if notice %>
	<p id="alert_notification"><%= notice %></p>
	<% end %>
	<% if alert %>
	<p id="error_notification"><%= alert %></p>
	<% end %>
</section>  